* {
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

form {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 1rem;
}

input[type="radio"] {
    margin-left: 1rem;
}

blockquote {
    margin: 0 0 1rem;
    background-color: #fff8d1;
    border-left: 0.5rem solid #ffe564;
    padding: 0.5rem;
}

code {
    font-family: monospace;
    background-color: #f6f6f6;
}