.nav {
  display: flex;
  list-style: none;
  list-style-type: 0; }
  .nav li {
    padding: 10px 10px;
    border: 1px solid #ddd;
    background-color: blueviolet;
    color: #fff; }
    .nav li a {
      color: #fff;
      text-decoration: none; }
